.product-page-container {
    padding-top: 10rem;
}

.product-page-grid {
    display: flex;
    height: 40rem;
    justify-content: center;
    /* grid-template-columns: 1fr 1fr; */
}

.grid-left-container {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0.05rem;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
    "one one one"
    "two three four";
}

.pp-one {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: one;
}

.pp-two {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: two;
}

.pp-three {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: three;
}

.pp-four {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: four;
}

.pp-two:hover {
    outline: 1px solid rgba(0, 0, 0, .2);
}

.grid-right-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 4rem;
    gap: 5rem;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
}

.product-container-title {
    font-size: 30px;
    line-height: 33px;
    font-weight: bold;
    color: #000000;
    display: flex;
    position: absolute;
    margin-top: 1rem;
}

.single-product-desc {
    text-align: justify;
    margin: 2rem;
}

.quantity-extra-buttons { 
    display: inline-flex;
    justify-content: space-between;
    gap: 2rem;
}


.product-page-trends {
    padding-top: 3rem;
    padding-bottom: 3rem;
}