.home-page-new-collection {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.home-page-bestsellers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    gap: 10px 10px;
}

.home-page-sections-title{
    font-size: 18.5px;
    font-weight: 650;
    color: #000000;
    padding-bottom: 2rem;
}

@media only screen and (max-width : 1024px) {
    .home-page-bestsellers-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width : 725px) {
    .home-page-bestsellers-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width : 426px) {
    .home-page-bestsellers-grid {
        grid-template-columns: 1fr;
    }
}