.newsletter-box {
    display: grid;
    grid-template-rows: auto;
    background: gray;
    height: 6rem;
    align-content: center;
    gap: 1rem;
}

.newsletter-title {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

.newsletter-details {
    height: 1.5rem;
    display: flex;
    gap: 1rem;
}

.home-page-newsletter {
    -webkit-box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
    background-color: gray;
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
}