
.trends-main-container {
    display: inline-block;
    padding: 1rem;
    width: 20%;
}

.trends-box {
    display: inline-flex;
    flex-direction: column;
    background: white;
    outline: 2px solid rgba(0,0,0,.205);
    justify-content: flex-end;
    cursor: pointer;
    width: 100%;
    height: 16rem;
}

.trends-box:hover{
  outline: 2px solid rgba(0,0,0,.6);
}

.trends-box-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 67.5%;
}

.trends-box-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.5rem 1rem 0.5rem 1rem;
  height: 30%;
}

.trends-box-title {
  box-sizing: border-box;
  white-space: break-spaces;
  font-size: 17px;
  color: #000000;
  padding-bottom: 0.5rem;
}

.trends-box-price {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}

.home-page-trends {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.home-page-trends-grid {
  position: relative;
  display: flex;
  align-items: center;
  height: 15rem;
  /* display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 40rem;
  gap: 10px; */
}

.trends-slider {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

@media only screen and (max-width : 1024px) {
  .trends-main-container {
    width: 25%;
  }
}

@media only screen and ( max-width : 968px) {
  .trends-main-container {
    width: 33%;
  }
}

@media only screen and (max-width : 725px) {
  .trends-main-container {
    width: 50%;
  }
}

@media only screen and (max-width : 426px) {
  .trends-main-container {
    width: 100%;
  }
}